:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

.formSplitBill {
  grid-template-columns: 1fr 12rem;
  padding: 3.2rem 4rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  text-align: left;

  background-color: var(--color-lightest);
  border-radius: 7px;
}

.label {
  font-weight: 500;
}

.label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.5rem;
}

.input,
.select {
  font-family: inherit;
  color: inherit;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

.input:focus,
.select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

.formSplitBill .button {
  margin-top: 0.6rem;
  grid-column: 2;
}

.formSplitBill h2 {
  grid-column: 1 / -1;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}
