:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}

.green {
  color: #66a80f;
}

.red {
  color: #e03131;
}
